
.icon-globe:before { content: '\e800'; } /* '' */
.icon-stopwatch:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-battery:before { content: '\e803'; } /* '' */
.icon-clock:before { content: '\e804'; } /* '' */
.icon-bat-charge:before { content: '\e805'; } /* '' */
.icon-flash:before { content: '\e806'; } /* '' */
.icon-drive:before { content: '\e807'; } /* '' */
.icon-flow-tree:before { content: '\e808'; } /* '' */
.icon-commerical-building:before { content: '\e809'; } /* '' */
.icon-cog-alt:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */